body {
         overflow-y: scroll;
         overflow-x: hidden;
     }
#title {
	font-family: 'Luckiest Guy', cursive;
}
#nav-title {
	font-family: 'Patua One', cursive;
	color: black;
}
#blockednotice {
	display: none;
}
#holds-the-iframe {
	background-image: url('http://jackzcraft.net/assets/img/loading.gif');
}
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}