﻿
<span style="display:inline-block">
☐ Check for values being set in profile.php(plz)<br>
☐ Private Messages (Admin notices, users)<br>
☐ X login attempts lock out <br>
☐ Pages (25 per etc) & on php to #[id]<br>

</span>
<span style="display:inline-block;float:right;">
☑[semi] Error msgs instead of die();<br>
☑[semi] Like System & 'Follow' System.<br>
☐ Stat: Amount of likes (of own messages)<br>

</span>
<br>
<span class="text-center">
<strong>1/7 Completed</strong> (FOR LIKE: new DB social_likes.. [postId] [users] sep. by commas?)
<!-- 20: 3 .5 -->
</span>